/*KATEGORİLER1*/

.category1 {
    margin-top: 50px;
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category1 .text {
    width: 93%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.category1 .text .all a {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: all 300ms;
}

.category1 .text .all a:hover {
    color: #FF7F00;
}
.category1 .text .title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
}
/* .category1 .text .all a::after{
    position: absolute;
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: all 300ms;
}
.category1 .text .all a:hover::after{
    width: 100%;
} */


#category2 {
    margin-top: 100px !important;
}

.splide {
    width: 100%;
    height: 525px;
}

.splide__list {
    height: 100%;
    width: 100%;
    transition: all 300ms;
    list-style-type: none;
    position: relative;
}

.splide .splide__list a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.splide .splide__list a .videoimg {
    width: 100%;
    height: 480px;
    position: relative;
}

.splide .splide__list a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.splide .splide__list a .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(1);
    opacity: 0;
    object-fit: cover;
    transition: all 200ms ease-in;
    border-radius: 10px;
}

.splide .splide__list a .video.active {
    transform: scaleX(1.025);
    opacity: 1;
}

.splide .splide__arrow--prev::before,
.splide .splide__arrow--next::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 55px;
    z-index: -1;
}

.splide .splide__arrow--prev::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, #000000 100%);
}

.splide .splide__arrow--next::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, #000000 100%);
}

.category1 .splide .text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.category1 .splide .text .title,
.category1 .splide .text .season {
    font-size: 1.1rem;
    font-weight: 500;
}



@media only screen and (max-width:1500px) {
    .category1 {
        margin-top: 50px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category1 .text {
        width: 93%;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .splide {
        width: 100%;
        height: 475px;
    }

    .splide .splide__list a .videoimg {
        width: 100%;
        height: 430px;
        position: relative;
    }

    .splide .splide__list a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .splide .splide__arrow--prev::before,
    .splide .splide__arrow--next::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 25px;
        z-index: -1;
    }

    .splide .splide__arrow--prev::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .splide .splide__arrow--next::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .category1 .splide .text .title,
    .category1 .splide .text .season {
        font-size: 1.1rem;
        font-weight: 500;
    }

}

@media only screen and (max-width:1200px) {
    .splide .splide__list a .video {
        display: none;
    }
}


@media only screen and (max-width:1000px) {
    .category1 {
        margin-top: 30px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category1 .text {
        width: 93%;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .splide {
        width: 100%;
        height: 475px;
    }

    .splide .splide__list a img {
        width: 100%;
        height: 430px;
        object-fit: cover;
    }

    .splide .splide__arrow--prev::before,
    .splide .splide__arrow--next::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 25px;
        z-index: -1;
    }

    .splide .splide__arrow--prev::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .splide .splide__arrow--next::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .category1 .splide .text .title,
    .category1 .splide .text .season {
        font-size: 1rem;
        font-weight: 500;
    }
}




@media only screen and (max-width:900px) {
    .category1 {
        margin-top: 50px;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category1 .text {
        width: 88%;
        height: 50px;
        display: flex;
        align-items: center;
    }

    .category1 .text .title {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .category1 .text .all a {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
    }

    .splide {
        width: 100%;
        height: 475px;
    }

    .splide .splide__list a img {
        width: 100%;
        height: 430px;
        object-fit: cover;
    }

    .splide .splide__arrow--prev::before,
    .splide .splide__arrow--next::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 25px;
        z-index: -1;
    }

    .splide .splide__arrow--prev::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .splide .splide__arrow--next::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .category1 .splide .text .title,
    .category1 .splide .text .season {
        font-size: 1rem;
        font-weight: 500;
    }
}



@media only screen and (max-width:700px) {
    .category1 {
        margin-top: 30px;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category1 .text {
        width: 85%;
        height: 25px;
        display: flex;
        align-items: center;
    }

    .category1 .text .title {
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .splide {
        width: 100%;
        height: 375px;
    }

    .splide .splide__list a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .splide .splide__list a .videoimg {
        width: 100%;
        height: 330px;
        position: relative;
    }

    .splide .splide__arrow--prev::before,
    .splide .splide__arrow--next::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 25px;
        z-index: -1;
    }

    .splide .splide__arrow--prev::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .splide .splide__arrow--next::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .category1 .splide .text .title,
    .category1 .splide .text .season {
        font-size: 1rem;
        font-weight: 500;
    }
}


@media only screen and (max-width:500px) {
    .category1 {
        margin-top: 0px;
        width: 100%;
        height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #category2 {
        margin-top: 0px !important;
    }

    .category1 .text {
        width: 80%;
        height: 25px;
        display: flex;
        align-items: center;
    }

    .category1 .text .title {
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .category1 .text .all a {
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 400;
        text-decoration: none;
    }

    .splide {
        width: 100%;
        height: 275px;
    }

    .splide .splide__list a .videoimg {
        width: 100%;
        height: 245px;
        position: relative;
    }

    .splide .splide__list a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .splide .splide__arrow--prev::before,
    .splide .splide__arrow--next::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 25px;
        z-index: -1;
    }

    .splide .splide__arrow--prev::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .splide .splide__arrow--next::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, #000000 100%);
    }

    .category1 .splide .text .title,
    .category1 .splide .text .season {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .splide__arrow {
        -ms-flex-align: center;
        align-items: center;
        background: transparent;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        height: 275px;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5em;
        transition: all 300ms;
    }
}