.swiper {
    width: 100%;
    height: 85vh;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  .swiper .swiper-slide::before,
  .swiper .swiper-slide::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 100px;
      z-index: 2;
  }
  .swiper .swiper-slide::before{
      top: 0;
      background: linear-gradient(to top,rgba(255, 255, 255, 0) 1%,#000000 100%);
  }
  .swiper .swiper-slide::after{
      left: 0;
      bottom: -5px;
      background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 1%,#000000 100%);
  }
  
  .swiper .swiper-slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.7);
  }
  .swiper .swiper-slide .inside {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 40%;
    z-index: 3;
  }
  
  .swiper .swiper-slide .inside .title {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .swiper .swiper-slide .inside .des {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 500;
  }
  
  .swiper .swiper-slide .inside .btn {
    background-color: #FF7F00;
    color: #ffffff;
    outline: none;
    border: none;
    position: absolute;
    right: 25px;
    transition: all 0.3s;
    border-radius: 50%;
  }
  .swiper .swiper-slide .inside .btn:hover{
    background-color: #ffffff;
    color: #FF7F00;
  }
  
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    color: #ffffff !important;
  }
  
  .swiper .swiper-pagination-bullet{
    background: #ffffff !important;
    opacity: 0.7 !important;
  }
  .swiper .swiper-pagination-bullet-active {
    background: #ffffff !important;
    opacity: 1 !important;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:  #ffffff;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke:  #ffffff;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  
  
  
  @media only screen and (max-width:1200px){
    .swiper {
      width: 100%;
      height: 75vh;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    .swiper .swiper-slide::before,
    .swiper .swiper-slide::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100px;
        z-index: 2;
    }
    .swiper .swiper-slide::before{
        top: 0;
        background: linear-gradient(to top,rgba(255, 255, 255, 0) 1%,#000000 100%);
    }
    .swiper .swiper-slide::after{
        left: 0;
        bottom: -5px;
        background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 1%,#000000 100%);
    }
    
    .swiper .swiper-slide img {
      width: 100%;
      height: 75vh;
      object-fit: cover;
      filter: brightness(0.7);
    }
    .swiper .swiper-slide .inside {
      position: absolute;
      bottom: 100px;
      left: 60px;
      width: 50%;
      z-index: 3;
    }
    
    .swiper .swiper-slide .inside .title {
      font-size: 1.5rem;
      color: #ffffff;
      margin-bottom: 10px;
      font-weight: 600;
    }
    
    .swiper .swiper-slide .inside .des {
      font-size: 1rem;
      color: #ffffff;
      font-weight: 500;
    }
    
    .swiper .swiper-slide .inside .btn {
      background-color: #FF7F00;
      color: #ffffff;
      outline: none;
      border: none;
      position: absolute;
      right: 25px;
      transition: all 0.3s;
      border-radius: 50%;
    }
    .swiper .swiper-slide .inside .btn:hover{
      background-color: #ffffff;
      color: #FF7F00;
    }
    
    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
      color: #ffffff !important;
    }
    
    .swiper .swiper-pagination-bullet{
      background: #ffffff !important;
      opacity: 0.7 !important;
    }
    .swiper .swiper-pagination-bullet-active {
      background: #ffffff !important;
      opacity: 1 !important;
    }
    
  }
  
  @media only screen and (max-width:1000px){
    .swiper {
      width: 100%;
      height: 100vh;
    }
    .swiper .swiper-slide img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      filter: brightness(0.7);
    }
    .swiper .swiper-slide .inside .title {
      font-size: 1.1rem;
      color: #ffffff;
      margin-bottom: 10px;
      font-weight: 600;
    }
    
    .swiper .swiper-slide .inside .des {
      font-size: 0.8rem;
      color: #ffffff;
      font-weight: 500;
    }
  }


  @media only screen and (max-width:600px){
    .swiper {
      width: 100%;
      height: 90vh;
      margin-top: 60px;
    }
    .swiper .swiper-slide img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        filter: brightness(0.7);
      }

      .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #ffffff;
      }
    
      .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke:  #ffffff;
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
      }
}
  
  
  
  
  @media only screen and (max-width:500px){
    .swiper {
      width: 100%;
      height: 90vh;
    }
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }
    .swiper .swiper-slide::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100px;
        z-index: 2;
    }
    .swiper .swiper-slide::after{
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 1%,#000000 100%);
    }
    
    .swiper .swiper-slide img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
      filter: brightness(0.7);
    }
    .swiper .swiper-slide .inside {
      position: absolute;
      bottom: 100px;
      left: 60px;
      width: 70%;
      z-index: 3;
    }
    
    .swiper .swiper-slide .inside .title {
      font-size: 3vw;
      color: #ffffff;
      margin-bottom: 10px;
      font-weight: 600;
    }
    
    .swiper .swiper-slide .inside .des {
      font-size: 3vw;
      color: #ffffff;
      font-weight: 500;
    }
    
    .swiper .swiper-slide .inside .btn {
      background-color: #FF7F00;
      color: #ffffff;
      outline: none;
      border: none;
      position: absolute;
      right: 25px;
      transition: all 0.3s;
      border-radius: 50%;
      width: 30px;
      height: 28px;
      font-size: 0.7rem;
    }
    .swiper .swiper-slide .inside .btn:hover{
      background-color: #ffffff;
      color: #FF7F00;
    }
    
    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
      color: #ffffff !important;
    }
    
    .swiper .swiper-pagination-bullet{
      background: #ffffff !important;
      opacity: 0.7 !important;
    }
    .swiper .swiper-pagination-bullet-active {
      background: #ffffff !important;
      opacity: 1 !important;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #ffffff;
    }
  
    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: #ffffff;
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }